@import "partials/normalize";
@import "partials/variables";
@import "partials/nav";
@import "partials/hero";
@import "partials/client";
@import "partials/community";

.pageBody{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 48px;
}

@import "partials/unlock";
@import "partials/achivements";
@import "partials/customers";