.achivements{
    width: 80%;
    display: flex;
    padding: 64px 10%;
    justify-content: space-between;
    align-items: center;
    background-color: $silver;
}

.achivementsContent{
    display: flex;
    width: 38%;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
}

.achivementsCounts{
    width: 38%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
}

.count{
    display: flex;
    align-items: center;
    gap: 16px;
    width: 50%;
}