.client{
    display: flex;
    padding: 0% 10%;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 40px 0px;
}

.clientContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.clientLogos{
    display: flex;
    height: 98px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    max-width: 1152px;
    padding: 0 10%;
}