.comunityUp{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.comunityUpContent{
    display: flex;
    max-width: 77%;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    text-align: center;
}

.comunityUpContent > p {
    width: 55%;
}

.comunityUpGallery{
    display: flex;
    width: 80%;
    padding: 0% 10%;
    justify-content: space-between;
    align-items: center;
    
}

.comunityUpCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.comunityUpCardContent{
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    box-shadow: 0 8px 16px rgba($color: $lightGray, $alpha: 0.5);
    border-radius: 8px;
    width: 78%;
    background-color: $silver;
    position: absolute;
    top: 66%;
    text-align: center;
    z-index: 1;
    line-height: 28px;
}

.readMore{
    font-size: 1.25em;
    color: $primaryColor;
    font-weight: 600;
    padding: 8px;
}