.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    background-color: $silver;
}

.footerHead{
    display: flex;
    padding: 32px 0;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    text-align: center;
}

.footerHead > h5{
    width: 62%;
}

footer{
    width: 76%;
    display: flex;
    padding: 64px 12%;
    justify-content: space-between;
    align-items: center;
    background-color: $secondaryColor;
    color: white;
}

.companyInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.copyright{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

p > small{
    color: $silver;
}

.socialMedia{
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.links{
    width: 57%;
    display: flex;
    align-items: flex-start;
    gap: 5.5%;
}

.linksCol{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.linksColForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.linksCol > h4{
    color: white;
}

.linksColForm > h4{
    color: white;
}

.linksColContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

p > a{
    color: $silver;
}

input{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background-color: rgba($color: $silver, $alpha: 0.2);
    border: none;
}

input::placeholder {
    color: $lightGray;
    padding-left: 12px;
    font-size: 0.875em;
}

form{
    position: relative;
}

button > img{
    position: absolute;
    right: 5%;
    bottom: 50%;
}

button{
    border: none;
    background: none;
}