// h1 = 64px
// h2 = 36px
// h3 = 28px
// h4, th = 20px
// p = 16px
// small, td = 14px
// buttons = 14px and 16px

$maxWidth: 1440px;
$primaryColor : #4CAF4F;
$secondaryColor: #263238;
$darkGray: #4D4D4D;
$gray: #717171;
$lightGray: #89939E;
$silver: #F5F7FA;

html{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    max-width: 1440px;
}

.pageBody{
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

h1{
    font-size: 4em;
    margin: 0px;
    color: $darkGray;
}
h2{
    font-size: 2.25em;
    margin: 0px;
    color: $darkGray;
}
h3{
    font-size: 1.75em;
    margin: 0px;
    color: $darkGray;
}
h4{
    font-size: 1.25em;
    margin: 0px;
    color: $darkGray;
}
p{
    font-size: 1em;
    margin: 0px;
    color: $gray;
}
small, td{
    font-size: 0.875em;
    color: $gray;
}

