// Colors
$primaryColor: #4CAF4F;
$secondaryColor: #263238;
$darkGray: #4D4D4D;
$gray: #717171;
$lightGray: #89939E;
$silver: #F5F7FA;

// Font Sizing
// h1 = 64px
h1, h5{
    font-size: 4em;
}
// h2 = 36px
h2{
    font-size: 2.25em;
}
// h3 = 28px
h3{
    font-size: 1.75em;
}
// h4, th = 20px
h4{
    font-size: 1.25em;
}
// p = 16px
p{
    font-size: 1em;
}
// small, td = 14px
small, td{
    font-size: 0.875em;
    color: $gray;
}

// heroButton = 16px
// primaryButton = 14px
// secondaryButton 14px

// Overall body structure
$maxWidth: 1440px;

html{
    display: flex;
    justify-content: center;
    font-family: "Inter", sans-serif;
}

body{
    max-width: $maxWidth;
}

.pageBody{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

h1, h2, h3, h4, p, h5{
    margin: 0px;
    color: $darkGray;
}